body {
  background-color: black;
}

div {
  text-align: center;
  color: white;
}

.title {
  color: rgb(25, 102, 154);
}

.standOutFont {
  color: red;
}

img.setImg {
  width: 400px;
}

#yamanekoText {
  font-family: "Yu Mincho","Times", "Times New Roman", "Georgia", serif;
}
